Repository d-run/drun-docs, pull requests merged in 2024-12, with the labels that each got.

#155 Revert "Try a chatbot with d.run/DAK"
  docs/zh/theme/main.html
Labels: size/XS

#159 move attachments to a folder
  docs/zh/docs/dtx/attach/alpaca_zh_demo.json
  docs/zh/docs/dtx/attach/c4_demo.json
  docs/zh/docs/dtx/attach/dataset_info.json
  docs/zh/docs/dtx/attach/dpo_zh_demo.json
  docs/zh/docs/dtx/attach/glaive_toolcall_zh_demo.json
  docs/zh/docs/dtx/attach/kto_en_demo.json
  docs/zh/docs/dtx/attach/mcq.csv
  docs/zh/docs/dtx/attach/mcq.jsonl
  docs/zh/docs/dtx/attach/mllm_demo.json
  docs/zh/docs/dtx/attach/qa.csv
  docs/zh/docs/dtx/attach/qa.jsonl
  docs/zh/docs/dtx/dataset.md
  docs/zh/docs/dtx/model-evaluate.md
  docs/zh/docs/dtx/model-export.md
Labels: size/M, dtx

#162 test chatbot
  docs/zh/theme/main.html
Labels: size/XS

#161 DAK 新增组合应用和对话
  docs/zh/docs/dak/images/chat05.jpg
  docs/zh/docs/dak/images/chat06.jpg
  docs/zh/docs/dak/images/create-combined.jpg
  docs/zh/docs/dak/images/create-read.jpg
  docs/zh/docs/dak/user-guide/app-center/conversation.md
  docs/zh/docs/dak/user-guide/app-center/create-app.md
Labels: size/M, dak

#163 add contact page
  docs/zh/docs/contact/images/capitain.jpg
  docs/zh/docs/contact/images/wechat-group.jpg
  docs/zh/docs/contact/images/wechat-icon.svg
  docs/zh/docs/contact/index.md
  docs/zh/navigation.yml
Labels: size/L

#165 feat: support i18n config
  docs/zh/mkdocs.yml
  docs/zh/navigation.yml
  requirements.txt
  scripts/run_netlify.sh
Labels: size/M, dev

#164 Add i18n text to navigation.yml
  docs/zh/navigation.yml
Labels: size/L

#166 Add 3 index to en folder
  docs/zh/docs/contact/index.md
  docs/zh/docs/en/buy/index.md
  docs/zh/docs/en/contact/index.md
  docs/zh/docs/en/index.md
Labels: size/L

#167 Add a notice to upgrade and migrate：d.run 升级和迁移公告
  docs/zh/docs/index.md
Labels: size/XS

#168 update contact
  docs/zh/docs/contact/index.md
  docs/zh/docs/en/contact/index.md
  docs/zh/docs/index.md
Labels: size/S

#170 update labeler.yml
  .github/labeler.yml
Labels: size/S, dev

#169 update navigation to new d.run
  docs/zh/docs/dmc/model-square.md
  docs/zh/docs/dmc/stat.md
  docs/zh/docs/en/index.md
  docs/zh/docs/index.md
  docs/zh/docs/leopard/bills.md
  docs/zh/docs/leopard/orders.md
  docs/zh/docs/leopard/transactions.md
  docs/zh/docs/leopard/wallet.md
  docs/zh/docs/zestu/index.md
  docs/zh/docs/zestu/instance.md
  docs/zh/docs/zestu/market.md
  docs/zh/docs/zestu/storage.md
  docs/zh/navigation.yml
Labels: size/L, dmc, zestu, leopard

#171 Add a script to find unused images
  docs/zh/docs/dmc/images/create-model.png
  docs/zh/docs/dmc/images/dmc-home.png
  docs/zh/docs/dmc/images/inner01.png
  docs/zh/docs/dmc/images/inner02.png
  docs/zh/docs/dmc/images/inner03.jpg
  docs/zh/docs/dmc/images/inner03.png
  docs/zh/docs/dmc/images/local01.png
  docs/zh/docs/dmc/images/local04.png
  docs/zh/docs/dmc/images/online04.png
  docs/zh/docs/dmc/images/tuner01.png
  docs/zh/docs/dmc/model-service/local.md
  scripts/find_unused_images.py
Labels: size/M, dmc, dev

#172 Add register page
  docs/zh/docs/buy/images/regis01.png
  docs/zh/docs/buy/register.md
  docs/zh/navigation.yml
Labels: size/L, buy

#173 update contact page
  docs/zh/docs/contact/images/capitain.jpg
  docs/zh/docs/contact/images/capitain.png
  docs/zh/docs/contact/images/group1.png
  docs/zh/docs/contact/images/group2.png
  docs/zh/docs/contact/index.md
  docs/zh/docs/en/contact/index.md
Labels: size/L, contact

#174 Add leopard docs
  docs/zh/docs/leopard/bills.md
  docs/zh/docs/leopard/images/bills.png
  docs/zh/docs/leopard/images/charge.png
  docs/zh/docs/leopard/images/orderdetail.png
  docs/zh/docs/leopard/images/orderlist.png
  docs/zh/docs/leopard/images/transaction.png
  docs/zh/docs/leopard/index.md
  docs/zh/docs/leopard/orders.md
  docs/zh/docs/leopard/transactions.md
  docs/zh/docs/leopard/wallet.md
  docs/zh/navigation.yml
Labels: size/L, leopard

#175 remove eco from nav
  docs/zh/navigation.yml
Labels: size/M

#176 Add protocols for sla, real-name, and miner
  docs/zh/docs/service/attach/miner.pdf
  docs/zh/docs/service/attach/name.pdf
  docs/zh/docs/service/attach/sla.pdf
  docs/zh/docs/service/index.md
  docs/zh/docs/service/miner.md
  docs/zh/docs/service/name.md
  docs/zh/docs/service/sla.md
  docs/zh/navigation.yml
Labels: size/L

#178 add pages about models
  docs/zh/docs/models/apikey.md
  docs/zh/docs/models/deploy.md
  docs/zh/docs/models/index.md
  docs/zh/docs/models/service.md
  docs/zh/navigation.yml
Labels: size/L

#179 add zestu text
  docs/zh/docs/zestu/index.md
  docs/zh/docs/zestu/instance.md
  docs/zh/docs/zestu/market.md
  docs/zh/navigation.yml
Labels: size/M, zestu

#182 update index and some zh text
  bak/index.md
  docs/zh/docs/buy/images/regis01.png
  docs/zh/docs/buy/index.md
  docs/zh/docs/images/regis01.png
  docs/zh/docs/index.md
  docs/zh/docs/models/apikey.md
  docs/zh/docs/models/deploy.md
  docs/zh/docs/models/index.md
  docs/zh/navigation.yml
Labels: size/L, buy

#183 update some text for instances
  docs/zh/docs/zestu/index.md
  docs/zh/docs/zestu/instance.md
  docs/zh/mkdocs.yml
Labels: size/XS, zestu

#185 Add hide -toc
  docs/zh/docs/models/deploy.md
  docs/zh/docs/models/index.md
  docs/zh/docs/service/index.md
Labels: size/S

#184 add gpumarket pod and file docs
  docs/zh/docs/zestu/images/createpod1.png
  docs/zh/docs/zestu/images/createpod2.png
  docs/zh/docs/zestu/images/deletefilde.png
  docs/zh/docs/zestu/images/downloadfile.png
  docs/zh/docs/zestu/images/gpumarket.PNG
  docs/zh/docs/zestu/images/startstorage2.PNG
  docs/zh/docs/zestu/images/startstorge.PNG
  docs/zh/docs/zestu/images/uploadfile.PNG
  docs/zh/docs/zestu/index.md
  docs/zh/docs/zestu/instance.md
  docs/zh/docs/zestu/storage.md
Labels: size/L, zestu

#186 Add en pages to zestu
  docs/zh/docs/en/buy/index.md
  docs/zh/docs/en/images/regis01.png
  docs/zh/docs/en/index.md
  docs/zh/docs/en/zestu/images/createpod2.png
  docs/zh/docs/en/zestu/images/storage01.png
  docs/zh/docs/en/zestu/images/storage02.png
  docs/zh/docs/en/zestu/images/storage03.png
  docs/zh/docs/en/zestu/images/storage04.png
  docs/zh/docs/en/zestu/index.md
  docs/zh/docs/en/zestu/instance
  docs/zh/docs/en/zestu/storage.md
  docs/zh/docs/index.md
  docs/zh/docs/zestu/index.md
  docs/zh/docs/zestu/instance.md
  docs/zh/docs/zestu/storage.md
  docs/zh/navigation.yml
Labels: size/L, zestu

#187 [en] Add models pages
  docs/zh/docs/en/models/apikey.md
  docs/zh/docs/en/models/deploy.md
  docs/zh/docs/en/models/images/models01.png
  docs/zh/docs/en/models/index.md
  docs/zh/docs/en/models/service.md
  docs/zh/docs/en/zestu/instance.md
  docs/zh/docs/models/images/models01.png
  docs/zh/docs/models/index.md
  docs/zh/navigation.yml
Labels: size/L, zestu

#189 [en] Add dak pages and repace a term of LLM
  docs/zh/docs/dak/features.md
  docs/zh/docs/dak/my-feedback/my-feedback.md
  docs/zh/docs/en/blogs/0326-compute-power.md
  docs/zh/docs/en/blogs/0327-transformer.md
  docs/zh/docs/en/blogs/0403-cp-to-profit.md
  docs/zh/docs/en/blogs/0408-after-kimi.md
  docs/zh/docs/en/blogs/0514-gpt4o.md
  docs/zh/docs/en/blogs/index.md
  docs/zh/docs/en/dak/features.md
  docs/zh/docs/en/dak/index.md
  docs/zh/docs/en/dak/my-feedback/my-feedback.md
  docs/zh/docs/en/open/hardware/illuvatar.md
  docs/zh/docs/en/open/index.md
  docs/zh/docs/en/open/models/claude.md
  docs/zh/docs/en/open/models/moonshot.md
  docs/zh/docs/en/open/models/zhipuai.md
  docs/zh/docs/en/open/pioneers/aispeech.md
  docs/zh/docs/en/open/pioneers/alibaba.md
  docs/zh/docs/en/open/pioneers/baidu.md
  docs/zh/docs/en/open/pioneers/bytedance.md
  docs/zh/docs/en/open/pioneers/iflytek.md
  docs/zh/docs/en/open/pioneers/sensetime.md
  docs/zh/docs/en/open/pioneers/tencent.md
  docs/zh/docs/en/open/pioneers/unisound.md
Labels: size/L, dak

#190 [en] Add leopard pages
  docs/zh/docs/en/leopard/bills.md
  docs/zh/docs/en/leopard/images/bills.png
  docs/zh/docs/en/leopard/images/charge.png
  docs/zh/docs/en/leopard/images/orderdetail.png
  docs/zh/docs/en/leopard/images/orderlist.png
  docs/zh/docs/en/leopard/images/transaction.png
  docs/zh/docs/en/leopard/index.md
  docs/zh/docs/en/leopard/orders.md
  docs/zh/docs/en/leopard/transactions.md
Labels: size/L

#191 [en] Add protocols
  docs/zh/docs/en/blogs/0327-transformer.md
  docs/zh/docs/en/blogs/0403-cp-to-profit.md
  docs/zh/docs/en/blogs/0408-after-kimi.md
  docs/zh/docs/en/blogs/0429-ai-survey.md
  docs/zh/docs/en/blogs/0514-gpt4o.md
  docs/zh/docs/en/blogs/index.md
  docs/zh/docs/en/index.md
  docs/zh/docs/en/open/hardware/illuvatar.md
  docs/zh/docs/en/open/models/moonshot.md
  docs/zh/docs/en/open/pioneers/sensetime.md
  docs/zh/docs/en/service/index.md
  docs/zh/docs/en/service/miner.md
  docs/zh/docs/en/service/name.md
  docs/zh/docs/en/service/sla.md
Labels: size/L, size/XL

#192 add poweroff or on
  docs/zh/docs/zestu/images/poweroff1.png
  docs/zh/docs/zestu/images/poweroff2.png
  docs/zh/docs/zestu/images/poweron1.png
  docs/zh/docs/zestu/images/poweron2.png
  docs/zh/docs/zestu/instance-on-off.md
  docs/zh/navigation.yml
Labels: size/M, zestu

#193 [en] Update personal center pages
  docs/zh/docs/en/dak/my-feedback/my-feedback.md
  docs/zh/docs/en/leopard/orders.md
  docs/zh/docs/en/models/apikey.md
  docs/zh/docs/en/personal/accesstoken.md
  docs/zh/docs/en/personal/images/ak01.png
  docs/zh/docs/en/personal/images/ak02.png
  docs/zh/docs/en/personal/images/ak03.png
  docs/zh/docs/en/personal/images/lang01.png
  docs/zh/docs/en/personal/images/lang02.png
  docs/zh/docs/en/personal/images/sec01.png
  docs/zh/docs/en/personal/index.md
  docs/zh/docs/en/personal/language.md
  docs/zh/docs/en/zestu/instance-on-off.md
  docs/zh/docs/personal/accesstoken.md
  docs/zh/docs/personal/images/ak01.png
  docs/zh/docs/personal/images/ak03.png
  docs/zh/docs/personal/images/lang01.png
  docs/zh/docs/personal/images/lang02.png
  docs/zh/docs/personal/images/sec01.png
  docs/zh/docs/personal/index.md
  docs/zh/docs/personal/language.md
  docs/zh/navigation.yml
Labels: size/L, dak, zestu

#194 improve some text in nav and buttons
  docs/zh/docs/en/blogs/0326-compute-power.md
  docs/zh/docs/en/blogs/index.md
  docs/zh/docs/en/dak/index.md
  docs/zh/docs/en/index.md
  docs/zh/docs/en/open/index.md
  docs/zh/navigation.yml
Labels: size/M, dak

#195 add models/china.md
  docs/zh/docs/open/index.md
  docs/zh/docs/open/models/china.md
  docs/zh/docs/open/models/openai.md
  docs/zh/navigation.yml
Labels: size/L

#196 update QR code
  docs/zh/docs/contact/images/group1.png
  docs/zh/docs/contact/images/group2.png
Labels: size/XS

#197 [en] Add dak pages
  docs/zh/docs/dak/data-analysis/qa-quality.md
  docs/zh/docs/dak/data-analysis/shard-hit-ratio.md
  docs/zh/docs/dak/user-guide/app-center/create-app.md
  docs/zh/docs/en/dak/data-analysis/number-of-qa.md
  docs/zh/docs/en/dak/data-analysis/qa-quality.md
  docs/zh/docs/en/dak/data-analysis/shard-hit-ratio.md
  docs/zh/docs/en/dak/data-analysis/shard-quality.md
  docs/zh/docs/en/dak/data-analysis/suggestions.md
  docs/zh/docs/en/dak/features.md
  docs/zh/docs/en/dak/index.md
  docs/zh/docs/en/dak/user-guide/app-center/conversation.md
  docs/zh/docs/en/dak/user-guide/app-center/create-app.md
  docs/zh/docs/en/dak/user-guide/system-config.md
  docs/zh/docs/en/models/apikey.md
Labels: size/L, dak
