Repository d-run/drun-docs, pull requests merged in 2024-06, with the labels that each got.

#120 fix format issues in fine-tuning-fast.md
  docs/zh/docs/dtx/fine-tuning-fast.md
Labels: size/L, dtx

#119 Add more content to dtx/fine-tuning-fast.md
  docs/zh/docs/dtx/fine-tuning-lab.md
  docs/zh/docs/dtx/images/DCEdata_en_Trainning.csv
  docs/zh/docs/dtx/images/DCEdata_en_test.csv
  docs/zh/docs/dtx/images/DCEdata_en_validation.csv
  docs/zh/docs/dtx/images/basic-information-of-experiment.png
  docs/zh/docs/dtx/images/create-fine-tuning-experiment.png
  docs/zh/docs/dtx/images/create-fine-tuning-experiment、.png
  docs/zh/docs/dtx/images/create-parameter-groups.png
  docs/zh/docs/dtx/images/dtx-chat01.png
  docs/zh/docs/dtx/images/dtx-chat02.png
  docs/zh/docs/dtx/images/dtx-chat03
  docs/zh/docs/dtx/images/dtx-chat04.png
  docs/zh/docs/dtx/images/resource-allocation01.png
  docs/zh/docs/dtx/images/resource-allocation02.png
  docs/zh/docs/dtx/images/resource-allocation03.png
  docs/zh/navigation.yml
Labels: size/XL, dtx

#121 update：tuning-fast
  docs/zh/docs/dtx/fine-tuning-fast.md
Labels: size/M, dtx

#122 update fine-tuning-fast.md and fine-tuning-lab.md
  docs/zh/docs/dtx/fine-tuning-fast.md
  docs/zh/docs/dtx/fine-tuning-lab.md
Labels: size/M, dtx

#123 Create export_word.yml
  .github/workflows/export_word.yml
Labels: size/M, dev

#124 update：tuning-fast 2.1
  docs/zh/docs/dak/user-guide/app-center/retrieval-strategy.md
  docs/zh/docs/dtx/fine-tuning-fast.md
  docs/zh/docs/dtx/images/dtx-chat03
  docs/zh/docs/dtx/images/dtx-chat03.png
Labels: size/M, dak, dtx

#125 fixed: baize quick start
  docs/zh/docs/baize/quick-start.md
  docs/zh/navigation.yml
Labels: size/S, baize

#126 add a pdf-convert script
  scripts/convert-pdf.sh
Labels: size/M, dev

#128 add link to read and download pdf
  docs/zh/docs/buy/buy.md
  docs/zh/docs/buy/index.md
  docs/zh/docs/buy/quick-start.md
  docs/zh/docs/index.md
Labels: size/XS, buy
