Repository d-run/drun-docs, pull requests merged in 2024-04, with the labels that each got.

#36 update nav to follow console.d.run
  docs/zh/docs/baize/index.md
  docs/zh/docs/buy/images/buy01.png
  docs/zh/docs/buy/index.md
  docs/zh/docs/dak/user-guide/app-center/conversation.md
  docs/zh/docs/dtx/fine-tuning-lab.md
  docs/zh/docs/dtx/parameters.md
  docs/zh/docs/ghippo/index.md
  docs/zh/docs/index.md
  docs/zh/docs/insight/index.md
  docs/zh/docs/kpanda/index.md
  docs/zh/docs/monkey/index.md
  docs/zh/docs/news/0326-compute-power.md
  docs/zh/docs/news/images/cp01.png
  docs/zh/docs/news/images/cp02.png
  docs/zh/docs/news/images/cp03.png
  docs/zh/docs/news/images/cp04.png
  docs/zh/docs/news/images/cp05.png
  docs/zh/docs/news/images/cp06.png
  docs/zh/docs/news/images/cp07.png
  docs/zh/navigation.yml
Labels: size/L, baize, dak, dtx

#38 Add ghippo docs after removing redundancies
  docs/zh/docs/ghippo/images/about05.png
  docs/zh/docs/ghippo/images/access.png
  docs/zh/docs/ghippo/images/beian.png
  docs/zh/docs/ghippo/images/mybusiness.png
  docs/zh/docs/ghippo/images/note.svg
  docs/zh/docs/ghippo/images/oauth2.png
  docs/zh/docs/ghippo/images/security-policy.png
  docs/zh/docs/ghippo/images/selfapplication.png
  docs/zh/docs/ghippo/index.md
  docs/zh/docs/ghippo/intro/features.md
  docs/zh/docs/ghippo/intro/glossary.md
  docs/zh/docs/ghippo/intro/index.md
  docs/zh/docs/ghippo/intro/login.md
  docs/zh/docs/ghippo/user-guide/access-control/custom-role.md
  docs/zh/docs/ghippo/user-guide/access-control/docking.md
  docs/zh/docs/ghippo/user-guide/access-control/global.md
  docs/zh/docs/ghippo/user-guide/access-control/group.md
  docs/zh/docs/ghippo/user-guide/access-control/iam.md
  docs/zh/docs/ghippo/user-guide/access-control/idprovider.md
  docs/zh/docs/ghippo/user-guide/access-control/ldap.md
  docs/zh/docs/ghippo/user-guide/access-control/oauth2.0.md
  docs/zh/docs/ghippo/user-guide/access-control/oidc.md
  docs/zh/docs/ghippo/user-guide/access-control/role.md
  docs/zh/docs/ghippo/user-guide/access-control/user.md
  docs/zh/docs/ghippo/user-guide/access-control/webhook.md
  docs/zh/docs/ghippo/user-guide/audit/audit-log.md
  docs/zh/docs/ghippo/user-guide/audit/gproduct-audit/ghippo.md
  docs/zh/docs/ghippo/user-guide/audit/gproduct-audit/insight.md
  docs/zh/docs/ghippo/user-guide/audit/gproduct-audit/kpanda.md
  docs/zh/docs/ghippo/user-guide/audit/open-audit.md
  docs/zh/docs/ghippo/user-guide/audit/open-k8s-audit.md
  docs/zh/docs/ghippo/user-guide/audit/source-ip.md
  docs/zh/docs/ghippo/user-guide/password.md
  docs/zh/docs/ghippo/user-guide/personal-center/accesstoken.md
  docs/zh/docs/ghippo/user-guide/personal-center/language.md
  docs/zh/docs/ghippo/user-guide/personal-center/security-setting.md
  docs/zh/docs/ghippo/user-guide/platform-setting/about.md
  docs/zh/docs/ghippo/user-guide/platform-setting/appearance.md
  docs/zh/docs/ghippo/user-guide/platform-setting/mail-server.md
  docs/zh/docs/ghippo/user-guide/platform-setting/security.md
  docs/zh/docs/ghippo/user-guide/report-billing/billing.md
  docs/zh/docs/ghippo/user-guide/report-billing/index.md
  docs/zh/docs/ghippo/user-guide/report-billing/report.md
  docs/zh/docs/ghippo/user-guide/workspace/folder-permission.md
  docs/zh/docs/ghippo/user-guide/workspace/folders.md
  docs/zh/docs/ghippo/user-guide/workspace/quota.md
  docs/zh/docs/ghippo/user-guide/workspace/res-gp-and-shared-res.md
  docs/zh/docs/ghippo/user-guide/workspace/workspace.md
  docs/zh/docs/ghippo/user-guide/workspace/ws-folder.md
  docs/zh/docs/ghippo/user-guide/workspace/ws-permission.md
  docs/zh/navigation.yml
Labels: size/XXL

#40 update nav and buy/index.md
  docs/zh/docs/buy/images/buy01.png
  docs/zh/docs/buy/index.md
  docs/zh/docs/open/index.md
  docs/zh/navigation.yml
Labels: size/S

#42 Add more labels
  .github/labeler.yml
Labels: size/S, dev

#41 add a news about d.run
  docs/zh/docs/news/0403-cp-to-profit.md
  docs/zh/navigation.yml
Labels: size/M, news

#43 update home page
  docs/zh/docs/images/home01.png
  docs/zh/docs/images/home02.png
  docs/zh/docs/images/home03.png
  docs/zh/docs/images/home04.png
  docs/zh/docs/images/home05.png
  docs/zh/docs/index.md
Labels: size/M

#46 add buttons to action
  docs/zh/docs/baize/index.md
  docs/zh/docs/buy/index.md
  docs/zh/docs/dak/index.md
  docs/zh/docs/dmc/index.md
  docs/zh/docs/dtx/index.md
  docs/zh/docs/ghippo/intro/index.md
  docs/zh/docs/index.md
  docs/zh/docs/insight/intro/index.md
  docs/zh/docs/kpanda/intro/index.md
  docs/zh/docs/monkey/index.md
  docs/zh/docs/open/index.md
Labels: size/S

#47 change style of open/index.md
  docs/zh/docs/open/index.md
Labels: size/L

#48 Fix issues about bold font
  docs/zh/docs/news/0326-compute-power.md
  docs/zh/docs/news/0403-cp-to-profit.md
  docs/zh/docs/news/images/profit01.png
  docs/zh/docs/open/index.md
Labels: size/M, news

#49 add a video to monkey
  docs/zh/docs/buy/index.md
  docs/zh/docs/monkey/index.md
  docs/zh/docs/open/index.md
  docs/zh/navigation.yml
Labels: size/S

#50 add a blog: dbrx llm
  docs/zh/docs/news/0407-dbrx.md
  docs/zh/docs/news/images/dbrx01.png
  docs/zh/docs/news/images/dbrx02.png
  docs/zh/docs/news/images/dbrx03.png
  docs/zh/navigation.yml
Labels: size/L, news

#51 Add a blog about transformer
  docs/zh/docs/news/0327-transformer.md
  docs/zh/docs/news/images/transformer01.png
  docs/zh/navigation.yml
Labels: size/L, news

#52 add news/index.md
  docs/zh/docs/news/0407-dbrx.md
  docs/zh/docs/news/index.md
  docs/zh/navigation.yml
Labels: size/S, size/M, news

#53 add moonshot intro
  docs/zh/docs/news/index.md
  docs/zh/docs/open/images/moon01.png
  docs/zh/docs/open/images/moon02.png
  docs/zh/docs/open/index.md
  docs/zh/docs/open/moonshot.md
  docs/zh/navigation.yml
Labels: size/L, news

#54 update kimi
  docs/zh/docs/open/images/kimi.png
  docs/zh/docs/open/index.md
  docs/zh/docs/open/moonshot.md
Labels: size/XS

#55 add claude 3
  docs/zh/docs/open/claude.md
  docs/zh/docs/open/images/claude01.png
  docs/zh/docs/open/index.md
  docs/zh/navigation.yml
Labels: size/M

#56 update open/index.md
  docs/zh/docs/open/index.md
  docs/zh/navigation.yml
Labels: size/M

#57 update open/index.md
  docs/zh/docs/open/index.md
Labels: size/M

#58 Add features to each module
  docs/zh/docs/dak/features.md
  docs/zh/docs/dmc/features.md
  docs/zh/docs/dtx/features.md
  docs/zh/docs/ghippo/intro/features.md
  docs/zh/docs/insight/intro/benefits.md
  docs/zh/docs/insight/intro/features.md
  docs/zh/docs/kpanda/intro/benefits.md
  docs/zh/docs/kpanda/intro/features.md
  docs/zh/docs/kpanda/intro/scenarios.md
  docs/zh/docs/monkey/features.md
  docs/zh/navigation.yml
Labels: size/XL, dak, dmc, dtx, ghippo, insight, kpanda, monkey

#59 add more companies to open channel
  docs/zh/docs/open/hardware/huawei.md
  docs/zh/docs/open/hardware/illuvatar.md
  docs/zh/docs/open/hardware/nvidia.md
  docs/zh/docs/open/index.md
  docs/zh/docs/open/models/claude.md
  docs/zh/docs/open/models/huggingface.md
  docs/zh/docs/open/models/moonshot.md
  docs/zh/docs/open/models/openai.md
  docs/zh/docs/open/models/zhipuai.md
  docs/zh/docs/open/pioneers/aispeech.md
  docs/zh/docs/open/pioneers/alibaba.md
  docs/zh/docs/open/pioneers/baidu.md
  docs/zh/docs/open/pioneers/cloudwalk.md
  docs/zh/docs/open/pioneers/hw99.md
  docs/zh/docs/open/pioneers/iflytek.md
  docs/zh/docs/open/pioneers/megvii.md
  docs/zh/docs/open/pioneers/sensetime.md
  docs/zh/docs/open/pioneers/tencent.md
  docs/zh/docs/open/pioneers/tusimple.md
  docs/zh/docs/open/pioneers/unisound.md
  docs/zh/navigation.yml
Labels: size/L

#60 Add a blog: after kimi
  docs/zh/docs/news/0408-after-kimi.md
  docs/zh/docs/news/images/after01.png
  docs/zh/docs/news/images/after02.png
  docs/zh/docs/news/images/after03.png
  docs/zh/docs/news/images/after04.png
  docs/zh/docs/news/index.md
  docs/zh/navigation.yml
Labels: size/L, news

#61 Add two companies
  docs/zh/docs/open/index.md
  docs/zh/docs/open/pioneers/baichuan.md
  docs/zh/docs/open/pioneers/bytedance.md
  docs/zh/navigation.yml
Labels: size/L

#62 add text to illuvatar.md
  docs/zh/docs/open/hardware/illuvatar.md
  docs/zh/docs/open/images/illu01.jpeg
  docs/zh/docs/open/images/illu02.png
  docs/zh/docs/open/images/illu03.png
  docs/zh/docs/open/index.md
  docs/zh/navigation.yml
Labels: size/M

#63 Update mkdocs.yml
  docs/zh/mkdocs.yml
Labels: size/XS

#64 update open/index
  docs/zh/docs/open/index.md
Labels: size/S

#65 add a blog: cloud native ai whitepaper
  docs/zh/docs/news/0410-cnai-wp.md
  docs/zh/docs/news/images/ai01.png
  docs/zh/docs/news/images/ai02.png
  docs/zh/docs/news/images/ai03.png
  docs/zh/docs/news/images/ai04.png
  docs/zh/docs/news/index.md
  docs/zh/navigation.yml
Labels: size/XL, news

#66 fix: bad repo github url
  docs/zh/mkdocs.yml
Labels: size/XS

#68 add d.run intro
  docs/zh/docs/buy/buy.md
  docs/zh/docs/buy/images/background.png
  docs/zh/docs/buy/images/landscape.png
  docs/zh/docs/buy/images/models.png
  docs/zh/docs/buy/index.md
  docs/zh/docs/index.md
  docs/zh/navigation.yml
Labels: size/L, buy

#69 add links
  docs/zh/docs/buy/index.md
Labels: size/S, buy

#70 add Scripts
  scripts/generate_pdf.md
  scripts/generate_pdf_zh.md
  scripts/lsync.sh
  scripts/md2doc-v2.py
  scripts/pr-report.py
  scripts/translate_md.py
  scripts/word_count.py
Labels: size/XL, dev

#71 update text by fullowing the latest ui
  docs/zh/docs/baize/features.md
  docs/zh/docs/buy/index.md
  docs/zh/docs/dak/features.md
  docs/zh/docs/dak/index.md
  docs/zh/docs/dak/my-feedback/my-feedback.md
  docs/zh/docs/index.md
  docs/zh/docs/kpanda/intro/features.md
  docs/zh/docs/monkey/features.md
  docs/zh/docs/news/0403-cp-to-profit.md
  docs/zh/navigation.yml
Labels: size/L, baize, dak, buy, kpanda, monkey, news

#72 change features to a markdown table
  docs/zh/docs/buy/index.md
Labels: size/S, buy

#73 add a blog: 0429-ai-survey.md
  docs/zh/docs/news/0429-ai-survey.md
  docs/zh/docs/news/images/survey01.png
  docs/zh/docs/news/images/survey02.webp
  docs/zh/docs/news/images/survey03.webp
  docs/zh/docs/news/images/survey04.webp
  docs/zh/docs/news/images/survey05.webp
  docs/zh/docs/news/images/survey06.webp
  docs/zh/docs/news/index.md
  docs/zh/navigation.yml
Labels: size/L, news
