Repository d-run/drun-docs, pull requests merged in 2024-03, with the labels that each got.

#7 语料库部分内容提交
  docs/zh/docs/dak/user-guide/System-Config/System-Config.md
  docs/zh/docs/dak/user-guide/System-Config/System-config.png
  docs/zh/docs/dak/user-guide/conversation/conversation.md
  docs/zh/docs/dak/user-guide/conversation/images/ manage.png
  docs/zh/docs/dak/user-guide/conversation/images/page-function.png
  docs/zh/docs/dak/user-guide/corpus/create-corpus.md
  docs/zh/docs/dak/user-guide/corpus/format-update.md
  docs/zh/docs/dak/user-guide/corpus/image-upload.md
  docs/zh/docs/dak/user-guide/corpus/images/create-corpus.png
  docs/zh/docs/dak/user-guide/corpus/images/format-update.png
  docs/zh/docs/dak/user-guide/corpus/images/manage-corpus.png
  docs/zh/docs/dak/user-guide/corpus/images/manual.png
  docs/zh/docs/dak/user-guide/corpus/images/picture1.png
  docs/zh/docs/dak/user-guide/corpus/images/picture2.png
  docs/zh/docs/dak/user-guide/corpus/images/picture3.png
  docs/zh/docs/dak/user-guide/corpus/images/upload-date.png
  docs/zh/docs/dak/user-guide/corpus/manage-corpus.md
  docs/zh/docs/dak/user-guide/corpus/upload-date.md
  docs/zh/navigation.yml
Labels: size/L, dak

#16 我的反馈内容提交
  docs/zh/docs/dak/my-feedback/images/my-feedback-detail.png
  docs/zh/docs/dak/my-feedback/images/my-feedback.png
  docs/zh/docs/dak/my-feedback/images/quote.png
  docs/zh/docs/dak/my-feedback/images/refresh-my-feedback.png
  docs/zh/docs/dak/my-feedback/my-feedback.md
  docs/zh/navigation.yml
Labels: size/S, dak

#17 update dak/user-guide/corpus docs
  docs/zh/docs/baize/index.md
  docs/zh/docs/dak/index.md
  docs/zh/docs/dak/user-guide/System-Config/System-Config.md
  docs/zh/docs/dak/user-guide/conversation.md
  docs/zh/docs/dak/user-guide/conversation/conversation.md
  docs/zh/docs/dak/user-guide/corpus/create-corpus.md
  docs/zh/docs/dak/user-guide/corpus/format-update.md
  docs/zh/docs/dak/user-guide/corpus/image-upload.md
  docs/zh/docs/dak/user-guide/corpus/manage-corpus.md
  docs/zh/docs/dak/user-guide/corpus/manual.md
  docs/zh/docs/dak/user-guide/corpus/upload-date.md
  docs/zh/docs/dak/user-guide/images/manage.png
  docs/zh/docs/dak/user-guide/images/page-function.png
  docs/zh/docs/dak/user-guide/images/system-config.png
  docs/zh/docs/dak/user-guide/system-config.md
  docs/zh/docs/dmc/index.md
  docs/zh/docs/dmc/intro/index.md
  docs/zh/docs/dtx/index.md
  docs/zh/docs/dtx/intro/index.md
  docs/zh/navigation.yml
Labels: size/L, dak

#15 add content to homepage
  docs/zh/docs/images/architecture.png
  docs/zh/docs/images/drun-login.jpg
  docs/zh/docs/index.md
Labels: size/S

#20 add text to dak/index.md
  docs/zh/docs/dak/images/app-center.png
  docs/zh/docs/dak/index.md
  docs/zh/docs/dak/user-guide/conversation.md
  docs/zh/docs/dak/user-guide/corpus/create-corpus.md
  docs/zh/navigation.yml
Labels: size/S, dak

#24 Add text to index.md
  docs/zh/docs/baize/images/archi.png
  docs/zh/docs/baize/index.md
  docs/zh/docs/dmc/images/dmc-home.png
  docs/zh/docs/dmc/index.md
  docs/zh/docs/dtx/images/dtx.png
  docs/zh/docs/dtx/index.md
  docs/zh/navigation.yml
Labels: size/M

#26 add model-hub docs
  docs/zh/docs/dmc/images/inner01.png
  docs/zh/docs/dmc/images/inner02.png
  docs/zh/docs/dmc/images/inner03.png
  docs/zh/docs/dmc/images/local01.png
  docs/zh/docs/dmc/images/local02.png
  docs/zh/docs/dmc/images/local03.png
  docs/zh/docs/dmc/images/local04.png
  docs/zh/docs/dmc/images/local05.png
  docs/zh/docs/dmc/images/online01.png
  docs/zh/docs/dmc/images/online02.png
  docs/zh/docs/dmc/images/online03.png
  docs/zh/docs/dmc/images/online04.png
  docs/zh/docs/dmc/images/tuner01.png
  docs/zh/docs/dmc/index.md
  docs/zh/docs/dmc/model-hub/built-in.md
  docs/zh/docs/dmc/model-hub/tuner.md
  docs/zh/docs/dmc/model-service/local.md
  docs/zh/docs/dmc/model-service/online.md
  docs/zh/navigation.yml
Labels: size/L, dmc

#25 update conversation.md and system-config.md for dak
  docs/zh/docs/dak/images/app-center.png
  docs/zh/docs/dak/images/chat01.png
  docs/zh/docs/dak/images/chat02.png
  docs/zh/docs/dak/user-guide/app-center/conversation.md
  docs/zh/docs/dak/user-guide/app-center/create-app.md
  docs/zh/docs/dak/user-guide/app-center/images/app-center.png
  docs/zh/docs/dak/user-guide/conversation.md
  docs/zh/docs/dak/user-guide/system-config.md
  docs/zh/navigation.yml
Labels: size/L, dak

#27 Add labels about different folders
  .github/labeler.yml
  .github/workflows/auto-label-pr.yaml
Labels: size/M, dev

#28 fix two broken links
  docs/zh/docs/dmc/index.md
Labels: size/XS, dmc

#29 参数组提交
  docs/zh/docs/dtx/fine-tuning-experiment.md
  docs/zh/docs/dtx/images/add-task.png
  docs/zh/docs/dtx/images/basic-information-of-experiment.png
  docs/zh/docs/dtx/images/basic-information.png
  docs/zh/docs/dtx/images/create-fine-tuning-experiment、.png
  docs/zh/docs/dtx/images/create-parameter-groups.png
  docs/zh/docs/dtx/images/delete-fine-tuning-experiment.png
  docs/zh/docs/dtx/images/delete-parameter.png
  docs/zh/docs/dtx/images/edit-parameter.png
  docs/zh/docs/dtx/images/namespace.png
  docs/zh/docs/dtx/images/parameter-configuration.png
  docs/zh/docs/dtx/images/resource-allocation.png
  docs/zh/docs/dtx/population-of-parameters.md
  docs/zh/navigation.yml
Labels: size/M, size/L, dtx

#33 update population-of-parameters.md
  docs/zh/docs/dtx/population-of-parameters.md
Labels: size/M, dtx

#32 Add more items to .gitignore
  .gitignore
Labels: size/S, dev

#35 Update homepage with https:/d.run
  docs/zh/navigation.yml
Labels: size/XS
