Repository d-run/drun-docs, pull requests merged in 2024-05, with the labels that each got.

#76 Add a video to use d.run
  docs/zh/docs/buy/images/workflow.png
  docs/zh/docs/buy/index.md
Labels: size/S, buy

#77 Add a blog: openai model spec
  docs/zh/docs/news/0509-model-spec.md
  docs/zh/docs/news/index.md
  docs/zh/navigation.yml
Labels: size/XL, news

#78 update openai model spec
  docs/zh/docs/news/0509-model-spec.md
Labels: size/XL, news

#79 feat: add how to build docker image of LLM
  docs/zh/docs/dmc/images/create-model.png
  docs/zh/docs/dmc/model-hub/build-model-image.md
Labels: size/L, dmc

#80 fix nav to follow actual ui
  docs/zh/docs/dmc/model-hub/build-model-image.md
  docs/zh/docs/dmc/model-hub/get-model-image.md
  docs/zh/navigation.yml
Labels: size/XS, size/L, dmc

#81 更新文件导入的分片方法; 更新图文处理的方法
  docs/zh/docs/dak/user-guide/corpus/image-upload.md
  docs/zh/docs/dak/user-guide/corpus/upload-date.md
Labels: size/S, dak

#84 fix new blog layout: gpt4o is free
  docs/zh/docs/blogs/0514-gpt4o.md
Labels: size/XS, size/S

#85 update get-model-image.md
  docs/zh/docs/dmc/model-hub/get-model-image.md
Labels: size/M, dmc

#86 fix format in new blog
  docs/zh/docs/blogs/0514-gpt4o.md
Labels: size/S

#87 update the inf-monkeys website
  docs/zh/docs/monkey/images/architect.webp
  docs/zh/docs/monkey/index.md
Labels: size/XS, monkey

#88 Add a channel: ecosystem
  docs/zh/docs/eco/images/architecture.png
  docs/zh/docs/eco/index.md
  docs/zh/navigation.yml
Labels: size/S

#89 Fix nav about eco/index.md
  docs/zh/navigation.yml
Labels: size/XS

#90 add pages to eco
  docs/zh/docs/eco/colossal-ai.md
  docs/zh/docs/eco/dra.md
  docs/zh/docs/eco/fluid.md
  docs/zh/docs/eco/gpu-operator.md
  docs/zh/docs/eco/gpu-rdma.md
  docs/zh/docs/eco/hwameistor.md
  docs/zh/docs/eco/images/colossal-ai-video.png
  docs/zh/docs/eco/images/colossal-ai01.png
  docs/zh/docs/eco/images/fluid.png
  docs/zh/docs/eco/index.md
  docs/zh/docs/eco/infiniband.md
  docs/zh/docs/eco/juicefs.md
  docs/zh/docs/eco/kueue.md
  docs/zh/docs/eco/mig.md
  docs/zh/docs/eco/moneky.md
  docs/zh/docs/eco/nccl.md
  docs/zh/docs/eco/net-operator.md
  docs/zh/docs/eco/ray.md
  docs/zh/docs/eco/rdma.md
  docs/zh/docs/eco/roce.md
  docs/zh/docs/eco/spiderpool.md
  docs/zh/docs/eco/sriov.md
  docs/zh/docs/eco/triton.md
  docs/zh/docs/eco/vgpu.md
  docs/zh/docs/eco/vllm.md
  docs/zh/navigation.yml
Labels: size/XL

#91 Add 5 pages to eco
  docs/zh/docs/eco/gpu-operator.md
  docs/zh/docs/eco/gpu-rdma.md
  docs/zh/docs/eco/images/gpu-operator.jpg
  docs/zh/docs/eco/images/gpudirect-rdma.png
  docs/zh/docs/eco/index.md
  docs/zh/docs/eco/infiniband.md
  docs/zh/docs/eco/juicefs.md
  docs/zh/navigation.yml
Labels: size/M

#94 add quick start
  docs/zh/docs/buy/DCE-introduction.csv
  docs/zh/docs/buy/images/image-1.png
  docs/zh/docs/buy/images/image-10.png
  docs/zh/docs/buy/images/image-11.png
  docs/zh/docs/buy/images/image-12.png
  docs/zh/docs/buy/images/image-13.png
  docs/zh/docs/buy/images/image-14.png
  docs/zh/docs/buy/images/image-15.png
  docs/zh/docs/buy/images/image-16.png
  docs/zh/docs/buy/images/image-17.png
  docs/zh/docs/buy/images/image-18.png
  docs/zh/docs/buy/images/image-19.png
  docs/zh/docs/buy/images/image-2.png
  docs/zh/docs/buy/images/image-20.png
  docs/zh/docs/buy/images/image-21.png
  docs/zh/docs/buy/images/image-22.png
  docs/zh/docs/buy/images/image-23.png
  docs/zh/docs/buy/images/image-24.png
  docs/zh/docs/buy/images/image-25.png
  docs/zh/docs/buy/images/image-26.png
  docs/zh/docs/buy/images/image-27.png
  docs/zh/docs/buy/images/image-3.png
  docs/zh/docs/buy/images/image-4.png
  docs/zh/docs/buy/images/image-5.png
  docs/zh/docs/buy/images/image-6.png
  docs/zh/docs/buy/images/image-7.png
  docs/zh/docs/buy/images/image-8.png
  docs/zh/docs/buy/images/image-9.png
  docs/zh/docs/buy/images/image.png
  docs/zh/docs/buy/marketing-demo.txt
  docs/zh/docs/buy/quick-start.md
  docs/zh/navigation.yml
Labels: size/XL, buy

#95 update buy/quick-start.md
  docs/zh/docs/buy/images/DCE-introduction.csv
  docs/zh/docs/buy/images/marketing-demo.txt
  docs/zh/docs/buy/quick-start.md
Labels: size/M, buy

#96 Add two pages to eco
  docs/zh/docs/eco/images/theory-of-kueue.svg
  docs/zh/docs/eco/kueue.md
  docs/zh/docs/eco/mig.md
  docs/zh/docs/eco/moneky.md
  docs/zh/navigation.yml
Labels: size/L

#98 Add three pages to eco
  docs/zh/docs/eco/images/NCCL_1GPU_multiGPU.png
  docs/zh/docs/eco/images/net-operator.jpg
  docs/zh/docs/eco/images/ray-padded.svg
  docs/zh/docs/eco/nccl.md
  docs/zh/docs/eco/net-operator.md
  docs/zh/docs/eco/ray.md
  docs/zh/navigation.yml
Labels: size/M

#99 fix link and update baize features
  docs/zh/docs/baize/features.md
  docs/zh/docs/eco/index.md
Labels: size/M, baize

#100 add front matters
  docs/zh/docs/baize/features.md
  docs/zh/docs/eco/images/infiniband.png
  docs/zh/docs/eco/infiniband.md
  docs/zh/docs/eco/nccl.md
  docs/zh/docs/eco/net-operator.md
  docs/zh/docs/eco/ray.md
  docs/zh/docs/eco/rdma.md
Labels: size/S, baize

#101 update video on buy/index.md
  docs/zh/docs/buy/index.md
Labels: size/XS, buy

#97 upload baize quick start
  docs/zh/docs/baize/images/baize-01.png
  docs/zh/docs/baize/images/baize-02.png
  docs/zh/docs/baize/images/baize-03.png
  docs/zh/docs/baize/images/baize-04.png
  docs/zh/docs/baize/images/baize-05.png
  docs/zh/docs/baize/images/baize-06.png
  docs/zh/docs/baize/images/baize-07.png
  docs/zh/docs/baize/quick-start.md
  docs/zh/navigation.yml
Labels: size/M, baize

#102 fix format of baize/quick-start.md
  docs/zh/docs/baize/quick-start.md
  docs/zh/navigation.yml
Labels: size/S, baize

#103 hide toc for some pages
  docs/zh/docs/baize/quick-start.md
  docs/zh/docs/eco/kueue.md
  docs/zh/docs/ghippo/intro/index.md
  docs/zh/docs/ghippo/user-guide/password.md
  docs/zh/docs/mscope/index.md
  docs/zh/docs/open/pioneers/baichuan.md
Labels: baize, ghippo

#104 Update quick-start.md
  docs/zh/docs/baize/quick-start.md
Labels: size/S, baize

#105 add rdma to eco
  docs/zh/docs/eco/rdma.md
  docs/zh/navigation.yml
Labels: size/S

#107 Add four pages to eco channel
  docs/zh/docs/eco/fluid.md
  docs/zh/docs/eco/images/rdma.png
  docs/zh/docs/eco/images/roce.webp
  docs/zh/docs/eco/images/vgpu-overview.png
  docs/zh/docs/eco/rdma.md
  docs/zh/docs/eco/roce.md
  docs/zh/docs/eco/triton.md
  docs/zh/docs/eco/vgpu.md
  docs/zh/navigation.yml
Labels: size/L

#108 update buy/quick-start.md
  docs/zh/docs/buy/quick-start.md
Labels: size/M, buy

#109 sort toc in a-z
  docs/zh/docs/open/index.md
  docs/zh/navigation.yml
Labels: size/M

#110 Fix typos and headings
  docs/zh/docs/buy/index.md
  docs/zh/docs/buy/quick-start.md
  docs/zh/docs/dak/features.md
  docs/zh/docs/dak/my-feedback/my-feedback.md
Labels: size/M, dak, buy

#111 update the product-landscape image
  docs/zh/docs/buy/images/landscape.png
  docs/zh/docs/eco/index.md
Labels: size/XS, buy

#112 Fix the landscape image
  docs/zh/docs/buy/images/landscape1.png
  docs/zh/docs/buy/index.md
  docs/zh/docs/eco/index.md
Labels: size/XS, buy

#113 update buy/quick-start.md
  docs/zh/docs/buy/images/create-app.png
  docs/zh/docs/buy/quick-start.md
Labels: size/L, buy

#114 hide toc
  docs/zh/docs/buy/quick-start.md
Labels: size/XS, buy

#115 add buttons
  docs/zh/docs/buy/index.md
  docs/zh/docs/buy/quick-start.md
Labels: size/XS, buy

#117 【zh】add one step Update quick-start.md
  docs/zh/docs/buy/quick-start.md
Labels: size/XS, buy

#116 try the nav icon
  docs/zh/docs/buy/images/h-icon.png
  docs/zh/docs/buy/quick-start.md
Labels: size/XS, size/S, buy
