Repository d-run/drun-docs, pull requests merged in 2024-11, with the labels that each got.

#142 Try a chatbot with d.run/DAK
  docs/zh/theme/main.html
Labels: size/XS, size/M

#143 模型中心部分文档修改
  docs/zh/docs/dmc/images/dmc-home.jpg
  docs/zh/docs/dmc/images/get-model.jpg
  docs/zh/docs/dmc/images/inner01.jpg
  docs/zh/docs/dmc/index.md
  docs/zh/docs/dmc/model-hub/built-in.md
  docs/zh/docs/dmc/model-hub/get-model-image.md
  docs/zh/navigation.yml
Labels: size/S, dmc

#151 智能问答部分文档修改
  docs/zh/docs/dak/features.md
  docs/zh/docs/dak/images/app-center.jpg
  docs/zh/docs/dak/images/app-center.png
  docs/zh/docs/dak/images/chat01.jpg
  docs/zh/docs/dak/images/chat01.png
  docs/zh/docs/dak/images/chat02.jpg
  docs/zh/docs/dak/images/chat02.png
  docs/zh/docs/dak/images/chat03.jpg
  docs/zh/docs/dak/images/chat04.jpg
  docs/zh/docs/dak/index.md
  docs/zh/docs/dak/user-guide/app-center/conversation.md
  docs/zh/docs/dak/user-guide/app-center/create-app.md
  docs/zh/docs/dak/user-guide/app-center/images/publish-app.jpg
  docs/zh/docs/dak/user-guide/app-center/images/publish-app.png
  docs/zh/docs/dak/user-guide/images/manage.jpg
  docs/zh/docs/dak/user-guide/images/manage.png
  docs/zh/docs/dak/user-guide/images/page-function.jpg
  docs/zh/docs/dak/user-guide/images/page-function.png
Labels: size/L, dak

#153 数据分析模块部分文档更新
  docs/zh/docs/dak/data-analysis/images/export-number-of-qa.jpg
  docs/zh/docs/dak/data-analysis/images/export-number-of-qa.png
  docs/zh/docs/dak/data-analysis/images/export-qa-quality.jpg
  docs/zh/docs/dak/data-analysis/images/export-qa-records.jpg
  docs/zh/docs/dak/data-analysis/images/export-shard-hit-ratio.jpg
  docs/zh/docs/dak/data-analysis/images/processing-feedback.jpg
  docs/zh/docs/dak/data-analysis/images/processing-feedback.png
  docs/zh/docs/dak/data-analysis/images/qa-quality-detail.jpg
  docs/zh/docs/dak/data-analysis/images/qa-quality-detail.png
  docs/zh/docs/dak/data-analysis/images/qa-quality.jpg
  docs/zh/docs/dak/data-analysis/images/refresh-improvement-suggestions.jpg
  docs/zh/docs/dak/data-analysis/images/refresh-improvement-suggestions.png
  docs/zh/docs/dak/data-analysis/images/refresh-qa-quality.jpg
  docs/zh/docs/dak/data-analysis/images/refresh-shard-hit-ratio-1.jpg
  docs/zh/docs/dak/data-analysis/images/shard-quality-detail.jpg
  docs/zh/docs/dak/data-analysis/number-of-qa.md
  docs/zh/docs/dak/data-analysis/qa-quality.md
  docs/zh/docs/dak/data-analysis/shard-quality.md
  docs/zh/docs/dak/data-analysis/suggestions.md
  docs/zh/docs/dak/my-feedback/images/my-feedback.jpg
  docs/zh/docs/dak/my-feedback/images/my-feedback.png
  docs/zh/docs/dak/my-feedback/my-feedback.md
Labels: size/S, dak

#156 语料库部分文档更新
  docs/zh/docs/dak/user-guide/corpus/create-corpus.md
  docs/zh/docs/dak/user-guide/corpus/format-update.md
  docs/zh/docs/dak/user-guide/corpus/image-upload.md
  docs/zh/docs/dak/user-guide/corpus/images/create-corpus.jpg
  docs/zh/docs/dak/user-guide/corpus/images/create-corpus.png
  docs/zh/docs/dak/user-guide/corpus/images/manage-corpus.png
  docs/zh/docs/dak/user-guide/corpus/images/manage-corpus01.jpg
  docs/zh/docs/dak/user-guide/corpus/images/manage-corpus02.jpg
  docs/zh/docs/dak/user-guide/corpus/images/manual.jpg
  docs/zh/docs/dak/user-guide/corpus/images/manual.png
  docs/zh/docs/dak/user-guide/corpus/images/picture4.jpg
  docs/zh/docs/dak/user-guide/corpus/images/picture5.jpg
  docs/zh/docs/dak/user-guide/corpus/images/picture6.jpg
  docs/zh/docs/dak/user-guide/corpus/images/picture7.jpg
  docs/zh/docs/dak/user-guide/corpus/images/picture8.jpg
  docs/zh/docs/dak/user-guide/corpus/images/upload-data01.jpg
  docs/zh/docs/dak/user-guide/corpus/images/upload-data02.jpg
  docs/zh/docs/dak/user-guide/corpus/images/upload-data03.jpg
  docs/zh/docs/dak/user-guide/corpus/images/upload-data04.jpg
  docs/zh/docs/dak/user-guide/corpus/images/upload-data05.jpg
  docs/zh/docs/dak/user-guide/corpus/images/upload-date.png
  docs/zh/docs/dak/user-guide/corpus/manage-corpus.md
  docs/zh/docs/dak/user-guide/corpus/manual.md
  docs/zh/docs/dak/user-guide/corpus/upload-date.md
  docs/zh/navigation.yml
Labels: size/L, dak

#134 update gen-ai platform with d.run
  docs/zh/docs/blogs/d.run.md
  docs/zh/docs/blogs/images/d.run.pdf
  docs/zh/docs/blogs/images/gen01.png
  docs/zh/docs/blogs/images/gen02.png
  docs/zh/docs/blogs/images/gen03.png
  docs/zh/docs/blogs/images/gen04.png
  docs/zh/docs/blogs/images/genai01.jpeg
  docs/zh/docs/blogs/images/genai02.jpeg
  docs/zh/docs/blogs/images/genai03.jpeg
  docs/zh/docs/blogs/images/genai04.jpeg
  docs/zh/navigation.yml
Labels: size/L

#158 Update index.md
  docs/zh/docs/dmc/index.md
Labels: size/XS, dmc
