Repository d-run/drun-docs, pull requests merged in 2025-04, with the labels that each got.

#268 update docs/rel-notes.md
  docs/zh/docs/rel-notes.md
Labels: size/S

#271 add openport.md
  docs/zh/docs/zestu/images/NGINX1.png
  docs/zh/docs/zestu/images/ins1.png
  docs/zh/docs/zestu/images/openport2.png
  docs/zh/docs/zestu/images/openport3.png
  docs/zh/docs/zestu/images/sshsecret.png
  docs/zh/docs/zestu/images/terminal1.jpeg
  docs/zh/docs/zestu/instance/openport.md
  docs/zh/navigation.yml
Labels: size/M, zestu

#269 add draft of enterprise-certification
  docs/zh/docs/service/enterprise-certification.md
Labels: size/L

#272 add service-auto-start.md
  docs/zh/docs/zestu/images/vgpu2.png
  docs/zh/docs/zestu/instance/service-auto-start.md
  docs/zh/navigation.yml
Labels: size/M, zestu

#273 update docs/zh/docs/service/enterprise-certification.md
  docs/zh/docs/service/enterprise-certification.md
Labels: size/XS

#274 Add collect-info.md and update org-cert.md
  docs/zh/docs/service/attach/personal-info.pdf
  docs/zh/docs/service/collect-info.md
  docs/zh/docs/service/org-cert.md
  docs/zh/navigation.yml
Labels: size/L
