Repository d-run/drun-docs, pull requests merged in 2025-07, with the labels that each got.

#357 Update auto-release-notes.yaml
  .github/workflows/auto-release-notes.yaml
Labels: size/XS, dev

#364 [en] Add personal/ security pages
  docs/zh/docs/en/personal/authn.md
  docs/zh/docs/en/personal/security.md
  docs/zh/docs/en/personal/ssh-key.md
  docs/zh/navigation.yml
Labels: size/L, ghippo

#368 update the basic information in Create Instance
  docs/zh/docs/zestu/instance.md
Labels: size/S, zestu

#370 add Annual and Monthly Package in index
  docs/zh/docs/zestu/index.md
Labels: size/XS, zestu

#374 Update auto-release-notes.yaml
  .github/workflows/auto-release-notes.yaml
Labels: size/XS, dev

#381 update models/api-call.md
  docs/zh/docs/en/models/api-call.md
  docs/zh/docs/models/api-call.md
Labels: size/L, models

#382 Fix image-gen typo in models
  docs/zh/docs/blogs/2025/0603-deepseek-0528.md
  docs/zh/docs/models/exp.md
  docs/zh/docs/models/index.md
  docs/zh/docs/models/service.md
  docs/zh/docs/open/models/openai.md
Labels: size/S, models, open

#384 update leopard/index.md
  docs/zh/docs/en/leopard/images/charge.png
  docs/zh/docs/en/leopard/index.md
  docs/zh/docs/leopard/images/charge.png
  docs/zh/docs/leopard/index.md
Labels: size/XS, leopard

#388 Update hydra images
  docs/zh/docs/en/models/images/apikey01.png
  docs/zh/docs/en/models/images/deploy01.png
  docs/zh/docs/en/models/images/exp01.png
  docs/zh/docs/en/models/images/exper00.png
  docs/zh/docs/en/models/images/exper01.png
  docs/zh/docs/en/models/images/exper02.png
  docs/zh/docs/en/models/images/service01.png
  docs/zh/docs/en/models/images/service02.png
  docs/zh/docs/en/models/images/service03.png
  docs/zh/docs/en/models/images/service04.png
  docs/zh/docs/en/models/images/service05.png
  docs/zh/docs/en/rel-notes.md
  docs/zh/docs/models/images/details01.png
  docs/zh/docs/models/images/details02.png
  docs/zh/docs/models/images/details03.png
  docs/zh/docs/models/images/exper01.png
  docs/zh/docs/models/images/service01.png
  docs/zh/docs/models/images/service02.png
  docs/zh/docs/models/images/service03.png
  docs/zh/docs/models/images/service04.png
  docs/zh/docs/models/images/service05.png
  docs/zh/docs/models/index.md
Labels: size/S, models

#389 update hydra images
  docs/zh/docs/models/deploy.md
  docs/zh/docs/models/exp.md
  docs/zh/docs/models/images/apikey01.png
  docs/zh/docs/models/images/deploy01.png
  docs/zh/docs/models/images/deploy02.png
  docs/zh/docs/models/images/exp01.png
  docs/zh/docs/models/images/exp02.png
  docs/zh/docs/models/images/exp03.png
  docs/zh/docs/models/images/exp04.png
  docs/zh/docs/models/images/exp06.png
Labels: size/XS, models

#391 update readme
  README.md
  README_zh.md
Labels: size/XS, size/S

#393 [en] update service/ pages
  docs/zh/docs/en/service/collect-info.md
  docs/zh/docs/en/service/enterprise-certification.md
  docs/zh/docs/en/service/face-id.md
  docs/zh/docs/en/service/miner.md
  docs/zh/docs/en/service/name.md
  docs/zh/docs/en/service/privacy.md
  docs/zh/docs/en/service/security.md
  docs/zh/docs/en/service/share.md
  docs/zh/docs/en/service/sla.md
Labels: size/M

#394 add pricing-rules.md
  docs/zh/docs/leopard/pricing-rules.md
  docs/zh/navigation.yml
Labels: size/L, leopard

#395 add diskstorage.md
  docs/zh/docs/zestu/images/diskstorage01.png
  docs/zh/docs/zestu/images/diskstorage02.png
  docs/zh/docs/zestu/instance.md
  docs/zh/docs/zestu/instance/diskstorage.md
  docs/zh/navigation.yml
Labels: size/S, zestu
