Repository d-run/drun-docs, pull requests merged in 2025-06, with the labels that each got.

#322 add a blog: deepseek-r1-0528
  docs/zh/docs/blogs/2025/0603-deepseek-0528.md
  docs/zh/docs/blogs/2025/images/use-deep.png
  docs/zh/docs/blogs/images/deep-benchmark.png
  docs/zh/docs/blogs/images/method1.png
  docs/zh/docs/blogs/images/method2.png
  docs/zh/docs/blogs/index.md
  docs/zh/navigation.yml
Labels: size/L, blogs

#324 add intro text to models
  docs/zh/docs/blogs/2025/0603-deepseek-0528.md
Labels: size/XS

#325 add a bounding ball game to show deepseek coding power
  docs/zh/docs/blogs/2025/0603-deepseek-0528.md
  docs/zh/docs/blogs/2025/images/simulation.html
Labels: size/L

#327 Update rel-notes of Compute Cloud
  docs/zh/docs/rel-notes.md
Labels: size/S

#329 update personal pages
  docs/zh/docs/personal/authn.md
  docs/zh/docs/personal/images/ak01.png
  docs/zh/docs/personal/images/authn.png
  docs/zh/docs/personal/images/import-ssh.png
  docs/zh/docs/personal/images/lang02.png
  docs/zh/docs/personal/images/sec01.png
  docs/zh/docs/personal/index.md
  docs/zh/docs/personal/security.md
  docs/zh/docs/personal/ssh-key.md
  docs/zh/navigation.yml
Labels: size/L

#330 update zestu images
  docs/zh/docs/zestu/deepseek.md
  docs/zh/docs/zestu/images/ssh.png
  docs/zh/docs/zestu/images/zestu-market.png
  docs/zh/docs/zestu/images/zestu-market2.png
  docs/zh/docs/zestu/instance.md
Labels: size/S, zestu

#339 add myimages in zestu
  docs/zh/docs/zestu/images/image01.png
  docs/zh/docs/zestu/images/image02.png
  docs/zh/docs/zestu/images/image03.png
  docs/zh/docs/zestu/images/image04.png
  docs/zh/docs/zestu/images/image05.png
  docs/zh/docs/zestu/images/image06.png
  docs/zh/docs/zestu/images/image07.png
  docs/zh/docs/zestu/images/image08.png
  docs/zh/docs/zestu/images/image09.png
  docs/zh/docs/zestu/images/image10.png
  docs/zh/docs/zestu/myimages/image-save.md
  docs/zh/docs/zestu/myimages/images.md
  docs/zh/navigation.yml
Labels: size/M, zestu

#340 update bills.md to add monthly-bills
  docs/zh/docs/leopard/bills.md
  docs/zh/docs/leopard/images/monthly-bills-01.png
  docs/zh/docs/leopard/images/monthly-bills.png
  docs/zh/docs/leopard/index.md
Labels: size/S, leopard

#350 update ssh.md in instance
  docs/zh/docs/zestu/instance/ssh.md
Labels: size/XS, zestu

#351 update docs/rel-notes.md
  docs/zh/docs/en/rel-notes.md
  docs/zh/docs/rel-notes.md
Labels: size/M
