Repository d-run/drun-docs, pull requests merged in 2025-02, with the labels that each got.

#223 add model api call guide
  docs/zh/docs/models/api-call.md
  docs/zh/navigation.yml
Labels: size/L, models

#224 add deeepseek.md
  docs/zh/docs/zestu/deepseek.md
  docs/zh/docs/zestu/images/interview.png
  docs/zh/docs/zestu/images/interview2.png
  docs/zh/docs/zestu/images/moreintervoew.png
  docs/zh/docs/zestu/images/newflow.png
  docs/zh/docs/zestu/images/newflow2.png
  docs/zh/docs/zestu/images/newflow3.png
  docs/zh/docs/zestu/images/newflow4.png
  docs/zh/docs/zestu/images/newflow5.png
  docs/zh/docs/zestu/images/ssh.png
  docs/zh/docs/zestu/images/zestu-market.png
  docs/zh/docs/zestu/images/zestu-market2.png
  docs/zh/navigation.yml
Labels: size/M, zestu

#225 Add model useguide
  docs/zh/docs/models/images/bobtranslate-2.png
  docs/zh/docs/models/images/bobtranslate-3.png
  docs/zh/docs/models/images/bobtranslate-4.png
  docs/zh/docs/models/images/bobtranslate.png
  docs/zh/docs/models/images/cherry-studio-2.png
  docs/zh/docs/models/images/cherry-studio-3.png
  docs/zh/docs/models/images/cherry-studio-4.png
  docs/zh/docs/models/images/cherry-studio-5.png
  docs/zh/docs/models/images/cherry-studio.jpg
  docs/zh/docs/models/images/cline-in-vscode-2.png
  docs/zh/docs/models/images/cline-in-vscode-3.png
  docs/zh/docs/models/images/cline-in-vscode-4.png
  docs/zh/docs/models/images/cline-in-vscode.png
  docs/zh/docs/models/images/lobe-chat-2.png
  docs/zh/docs/models/images/lobe-chat-3.png
  docs/zh/docs/models/images/lobe-chat.png
  docs/zh/docs/models/user-guides/bob-translate.md
  docs/zh/docs/models/user-guides/cherry-studio.md
  docs/zh/docs/models/user-guides/cline-in-vscode.md
  docs/zh/docs/models/user-guides/index.md
  docs/zh/docs/models/user-guides/lobe-chat.md
  docs/zh/navigation.yml
Labels: size/L, models

#226 Clean up models/*.*
  docs/zh/docs/models/api-call.md
  docs/zh/docs/models/user-guides/bob-translate.md
  docs/zh/docs/models/user-guides/cherry-studio.md
  docs/zh/docs/models/user-guides/cline-in-vscode.md
  docs/zh/docs/models/user-guides/index.md
  docs/zh/docs/models/user-guides/lobe-chat.md
Labels: size/L, models

#227 Remove minimax-01 maas
  docs/zh/docs/models/api-call.md
Labels: size/XS

#228 add a blog: use d.run models everywhere
  docs/zh/docs/blogs/2025/0210-deep-drun.md
  docs/zh/docs/blogs/2025/images/deep01.png
  docs/zh/docs/blogs/2025/images/deep02.png
  docs/zh/docs/blogs/2025/images/deep03.png
  docs/zh/docs/blogs/2025/images/deep04.png
  docs/zh/docs/blogs/2025/images/deep05.png
  docs/zh/docs/blogs/2025/images/deep06.png
  docs/zh/docs/blogs/2025/images/deep07.png
  docs/zh/docs/blogs/2025/images/deep08.png
  docs/zh/docs/blogs/2025/images/deep09.png
  docs/zh/docs/blogs/2025/images/deep10.png
  docs/zh/docs/blogs/2025/images/deep11.png
  docs/zh/docs/blogs/2025/images/deep12.png
  docs/zh/docs/blogs/2025/images/deep13.jpeg
  docs/zh/docs/blogs/index.md
  docs/zh/navigation.yml
Labels: size/L, blogs

#229 update 2025/0210-deep-drun.md
  docs/zh/docs/blogs/2025/0210-deep-drun.md
  docs/zh/docs/blogs/2025/images/deep11.png
  docs/zh/docs/blogs/2025/images/deepr1.png
Labels: size/S

#230 update an image
  docs/zh/docs/blogs/2025/0210-deep-drun.md
  docs/zh/docs/blogs/2025/images/deep12.png
Labels: size/XS

#231 update two images for new blog
  docs/zh/docs/blogs/2025/0210-deep-drun.md
  docs/zh/docs/blogs/2025/images/translate01.png
  docs/zh/docs/blogs/2025/images/translate02.png
Labels: size/XS

#232 update qr code
  docs/zh/docs/contact/images/group1.jpg
  docs/zh/docs/contact/images/group2.jpg
  docs/zh/docs/contact/index.md
Labels: size/XS, contact

#233 update qrcode images
  docs/zh/docs/contact/images/group01.jpg
  docs/zh/docs/contact/images/group02.jpg
  docs/zh/docs/contact/index.md
  docs/zh/docs/en/contact/index.md
Labels: size/XS, contact

#242 ✏️ fix(image): update image name
  docs/zh/docs/zestu/images/gpu-market.png
  docs/zh/docs/zestu/index.md
Labels: size/XS, zestu

#244 fix some format issues for model pages
  docs/zh/docs/en/models/apikey.md
  docs/zh/docs/en/models/deploy.md
  docs/zh/docs/en/models/user-guides/bob-translate.md
  docs/zh/docs/en/models/user-guides/lobe-chat.md
  docs/zh/docs/models/apikey.md
  docs/zh/docs/models/deploy.md
Labels: size/S, models

#245 fix(api-call): endpoint error
  docs/zh/docs/en/models/api-call.md
  docs/zh/docs/models/api-call.md
Labels: size/XS, models

#246 add jupyter.md
  docs/zh/docs/zestu/images/create1.png
  docs/zh/docs/zestu/images/jupyterlab1.png
  docs/zh/docs/zestu/images/list1.png
  docs/zh/docs/zestu/images/teminal3.png
  docs/zh/docs/zestu/images/terminal1.png
  docs/zh/docs/zestu/images/terminal2.png
  docs/zh/docs/zestu/images/terminal4.png
  docs/zh/docs/zestu/images/terminal5.png
  docs/zh/docs/zestu/images/terminal6.png
  docs/zh/docs/zestu/instance/jupyter.md
  docs/zh/navigation.yml
Labels: size/M, zestu

#247 update models/api-call.md
  docs/zh/docs/models/api-call.md
Labels: size/S, models

#248 update models/deploy.md
  docs/zh/docs/models/deploy.md
Labels: size/S, models

#249 update models/exp.md
  docs/zh/docs/models/exp.md
Labels: size/S, models

#251 fix(typo): update models user guide
  docs/zh/docs/models/user-guides/lobe-chat.md
  docs/zh/navigation.yml
Labels: size/XS, models

#253 add ssh.md
  docs/zh/docs/zestu/images/ssh1.png
  docs/zh/docs/zestu/images/ssh2.png
  docs/zh/docs/zestu/images/ssh3.png
  docs/zh/docs/zestu/images/ssh4.png
  docs/zh/docs/zestu/images/ssh5.png
  docs/zh/docs/zestu/instance/ssh.md
  docs/zh/navigation.yml
Labels: size/L, zestu
