Repository d-run/drun-docs, pull requests merged in 2025-05, with the labels that each got.

#275 new release note style
  docs/zh/docs/rel-notes.md
Labels: size/L

#281 Update docs/zh/docs/models/exp.md
  docs/zh/docs/models/exp.md
  docs/zh/docs/models/images/exp01.png
  docs/zh/docs/models/images/exp02.png
  docs/zh/docs/models/images/exp03.png
  docs/zh/docs/models/images/exp04.png
  docs/zh/docs/models/images/exp05.png
  docs/zh/docs/models/index.md
Labels: size/M, models

#283 add some key feature updates of LLM Studio-v0.5.0 in Release Notes
  docs/zh/docs/rel-notes.md
Labels: size/S

#282 Hoj patch 2
  docs/zh/docs/models/deploy.md
  docs/zh/docs/models/exp.md
  docs/zh/docs/models/images/deploy01.png
  docs/zh/docs/models/images/deploy02.png
  docs/zh/docs/models/images/exp06.png
  docs/zh/docs/models/images/service01.png
  docs/zh/docs/models/images/service02.png
  docs/zh/docs/models/images/service03.png
  docs/zh/docs/models/images/service04.png
  docs/zh/docs/models/images/service05.png
  docs/zh/docs/models/index.md
  docs/zh/docs/models/service.md
  docs/zh/navigation.yml
Labels: size/M, models

#285 Add more videos in batch
  docs/zh/docs/videos/ai-app.md
  docs/zh/docs/videos/bills.md
  docs/zh/docs/videos/images/batch-import.png
  docs/zh/docs/videos/images/bills.png
  docs/zh/docs/videos/images/chat.png
  docs/zh/docs/videos/images/create-app.png
  docs/zh/docs/videos/images/create-corpus.png
  docs/zh/docs/videos/images/create-instance.png
  docs/zh/docs/videos/images/file-storage.png
  docs/zh/docs/videos/images/forget-pass.png
  docs/zh/docs/videos/images/import-corpus.png
  docs/zh/docs/videos/images/impro-comments.png
  docs/zh/docs/videos/images/login.png
  docs/zh/docs/videos/images/manage-corpus.png
  docs/zh/docs/videos/images/manual-import.png
  docs/zh/docs/videos/images/model-service.png
  docs/zh/docs/videos/images/my-feedback.png
  docs/zh/docs/videos/images/power-on-off.png
  docs/zh/docs/videos/images/qa-quality.png
  docs/zh/docs/videos/images/qa-times.png
  docs/zh/docs/videos/images/voucher.png
  docs/zh/docs/videos/index.md
  docs/zh/docs/videos/login.md
  docs/zh/docs/videos/models.md
  docs/zh/docs/videos/zestu.md
  docs/zh/navigation.yml
Labels: size/L, videos

#287 revert(enterprise-certification.md): url
  docs/zh/docs/service/enterprise-certification.md
  docs/zh/navigation.yml
Labels: size/XS

#289 update service protocols
  docs/zh/docs/service/attach/privacy.pdf
  docs/zh/docs/service/attach/security.pdf
  docs/zh/docs/service/attach/share.pdf
  docs/zh/docs/service/attach/sla.pdf
  docs/zh/docs/service/index.md
  docs/zh/docs/service/privacy.md
  docs/zh/docs/service/security.md
  docs/zh/docs/service/share.md
  docs/zh/docs/service/sla.md
  docs/zh/navigation.yml
Labels: size/XL

#292 [en] Add leopard/voucher.md
  docs/zh/docs/en/leopard/bills.md
  docs/zh/docs/en/leopard/images/voucher-1.png
  docs/zh/docs/en/leopard/images/voucher-2.png
  docs/zh/docs/en/leopard/images/voucher.png
  docs/zh/docs/en/leopard/orders.md
  docs/zh/docs/en/leopard/transactions.md
  docs/zh/docs/en/leopard/voucher.md
  docs/zh/docs/leopard/voucher.md
  docs/zh/navigation.yml
Labels: size/M, leopard

#293 [en] Add service protocols in batch
  docs/zh/docs/en/service/collect-info.md
  docs/zh/docs/en/service/enterprise-certification.md
  docs/zh/docs/en/service/face-id.md
  docs/zh/docs/en/service/index.md
  docs/zh/docs/en/service/miner.md
  docs/zh/docs/en/service/name.md
  docs/zh/docs/en/service/privacy.md
  docs/zh/docs/en/service/security.md
  docs/zh/docs/en/service/share.md
  docs/zh/docs/en/service/sla.md
  docs/zh/docs/service/face-id.md
  docs/zh/docs/service/privacy.md
  docs/zh/docs/service/sla.md
Labels: size/XL

#294 [en] Add videos page
  docs/zh/docs/en/videos/ai-app.md
  docs/zh/docs/en/videos/bills.md
  docs/zh/docs/en/videos/index.md
  docs/zh/docs/en/videos/login.md
  docs/zh/docs/en/videos/models.md
  docs/zh/docs/en/videos/zestu.md
  docs/zh/navigation.yml
Labels: size/L, videos

#301 docs(user-center): add new features for real-name authentication in v0.5.0 release notes
  docs/zh/docs/rel-notes.md
Labels: size/XS

#295 fix: replace unsupported Tencent QQ icon
  docs/zh/docs/en/open/index.md
  docs/zh/docs/open/index.md
Labels: size/XS, open

#299 update leopard releasenote
  docs/zh/docs/rel-notes.md
Labels: size/S

#308 Add a blog: llm-d
  docs/zh/docs/en/blogs/2025/images/image1_116.png
  docs/zh/docs/en/blogs/2025/images/image2_4.jpg
  docs/zh/docs/en/blogs/2025/images/image3.jpg
  docs/zh/docs/en/blogs/2025/images/image4_57.png
  docs/zh/docs/en/blogs/2025/images/image5_46.png
  docs/zh/docs/en/blogs/2025/images/image7_33.png
  docs/zh/docs/en/blogs/2025/images/image8_0.jpg
  docs/zh/docs/en/blogs/2025/images/llm-d-arch-simplified.svg
  docs/zh/docs/en/blogs/2025/llmd.md
  docs/zh/docs/en/blogs/index.md
  docs/zh/navigation.yml
Labels: size/L, blogs

#309 add llm-d blog
  docs/zh/docs/blogs/2025/images/image1_116.png
  docs/zh/docs/blogs/2025/images/image2_4.jpg
  docs/zh/docs/blogs/2025/images/image3.jpg
  docs/zh/docs/blogs/2025/images/image4_57.png
  docs/zh/docs/blogs/2025/images/image5_46.png
  docs/zh/docs/blogs/2025/images/image7_33.png
  docs/zh/docs/blogs/2025/images/image8_0.jpg
  docs/zh/docs/blogs/2025/images/llm-d-arch-simplified.svg
  docs/zh/docs/blogs/2025/llmd.md
  docs/zh/docs/blogs/index.md
  docs/zh/docs/en/blogs/2025/llmd.md
Labels: size/L, blogs

#310 [en] Add deepseek blog
  docs/zh/docs/en/blogs/2025/0210-deep-drun.md
  docs/zh/docs/en/blogs/2025/images/deep01.png
  docs/zh/docs/en/blogs/2025/images/deep02.png
  docs/zh/docs/en/blogs/2025/images/deep03.png
  docs/zh/docs/en/blogs/2025/images/deep04.png
  docs/zh/docs/en/blogs/2025/images/deep05.png
  docs/zh/docs/en/blogs/2025/images/deep06.png
  docs/zh/docs/en/blogs/2025/images/deep07.png
  docs/zh/docs/en/blogs/2025/images/deep08.png
  docs/zh/docs/en/blogs/2025/images/deep09.png
  docs/zh/docs/en/blogs/2025/images/deep10.png
  docs/zh/docs/en/blogs/2025/images/deep13.jpeg
  docs/zh/docs/en/blogs/2025/images/deepr1.png
  docs/zh/docs/en/blogs/index.md
  docs/zh/navigation.yml
Labels: size/L, blogs

#314 remove agreements from nav
  docs/zh/docs/service/collect-info.md
  docs/zh/docs/service/enterprise-certification.md
  docs/zh/docs/service/face-id.md
  docs/zh/docs/service/index.md
  docs/zh/docs/service/miner.md
  docs/zh/docs/service/name.md
  docs/zh/docs/service/privacy.md
  docs/zh/docs/service/security.md
  docs/zh/docs/service/sla.md
  docs/zh/navigation.yml
Labels: size/M

#315 add buttons to return index.md
  docs/zh/docs/service/collect-info.md
  docs/zh/docs/service/enterprise-certification.md
  docs/zh/docs/service/face-id.md
  docs/zh/docs/service/miner.md
  docs/zh/docs/service/name.md
  docs/zh/docs/service/privacy.md
  docs/zh/docs/service/security.md
  docs/zh/docs/service/share.md
  docs/zh/docs/service/sla.md
Labels: size/S, size/M

#317 update docs/index.md
  docs/zh/docs/index.md
Labels: size/S
