Repository d-run/drun-docs, pull requests merged in 2025-03, with the labels that each got.

#255 troubleshoot the image display exception
  docs/zh/docs/zestu/instance/vscode.md
Labels: size/S, zestu

#256 update wechat QR code
  docs/zh/docs/contact/images/assist.jpg
  docs/zh/docs/contact/index.md
  docs/zh/docs/en/contact/index.md
Labels: size/S, contact

#254 add voucher.md
  docs/zh/docs/leopard/images/voucher-1.png
  docs/zh/docs/leopard/images/voucher-2.png
  docs/zh/docs/leopard/images/voucher.png
  docs/zh/docs/leopard/voucher.md
  docs/zh/navigation.yml
Labels: size/M, leopard

#257 update deepseek
  docs/zh/docs/zestu/deepseek.md
  docs/zh/docs/zestu/images/deepseek1.png
  docs/zh/docs/zestu/images/interview2.png
Labels: size/M, zestu

#258 add filestorage scale
  docs/zh/docs/zestu/filestorage/filescale.md
  docs/zh/docs/zestu/filestorage/storage.md
  docs/zh/docs/zestu/images/downloadfile.png
  docs/zh/docs/zestu/images/file1.png
  docs/zh/docs/zestu/images/file2.png
  docs/zh/docs/zestu/images/startstorage2.PNG
  docs/zh/docs/zestu/images/startstorge1.png
  docs/zh/docs/zestu/images/uploadfile1.png
  docs/zh/navigation.yml
Labels: size/M, zestu

#259 Update navigation.yml
  docs/zh/navigation.yml
Labels: size/XS

#260 add videos page
  docs/zh/docs/videos/images/api-key.png
  docs/zh/docs/videos/images/deploy-model.png
  docs/zh/docs/videos/images/language.png
  docs/zh/docs/videos/images/model-store.png
  docs/zh/docs/videos/images/orders.png
  docs/zh/docs/videos/images/purchase.png
  docs/zh/docs/videos/images/register.png
  docs/zh/docs/videos/images/security.png
  docs/zh/docs/videos/images/transaction.png
  docs/zh/docs/videos/index.md
  docs/zh/navigation.yml
Labels: size/M, videos

#263 Add security whitepaper
  docs/zh/docs/service/attach/security.pdf
  docs/zh/docs/service/face-id.md
  docs/zh/docs/service/index.md
  docs/zh/docs/service/miner.md
  docs/zh/docs/service/name.md
  docs/zh/docs/service/security.md
  docs/zh/docs/service/sla.md
  docs/zh/navigation.yml
Labels: size/L

#264 add images to models folder
  docs/zh/docs/models/apikey.md
  docs/zh/docs/models/deploy.md
  docs/zh/docs/models/exp.md
  docs/zh/docs/models/images/apikey01.png
  docs/zh/docs/models/images/deploy01.png
  docs/zh/docs/models/images/exp01.png
  docs/zh/docs/models/images/service01.png
  docs/zh/docs/models/images/service02.png
  docs/zh/docs/models/service.md
Labels: size/S, models

#265 [en] add images to models folder
  docs/zh/docs/en/models/apikey.md
  docs/zh/docs/en/models/deploy.md
  docs/zh/docs/en/models/exp.md
  docs/zh/docs/en/models/images/apikey01.png
  docs/zh/docs/en/models/images/deploy01.png
  docs/zh/docs/en/models/images/exp01.png
  docs/zh/docs/en/models/images/service01.png
  docs/zh/docs/en/models/images/service02.png
  docs/zh/docs/en/models/images/service03.png
  docs/zh/docs/en/models/service.md
Labels: models

#266 add scale up/down and delete to model-service
  docs/zh/docs/models/images/service03.png
  docs/zh/docs/models/images/service04.png
  docs/zh/docs/models/images/service05.png
  docs/zh/docs/models/service.md
Labels: size/S, models

#267 [en] Add service scale up/down/delete
  docs/zh/docs/en/models/images/service04.png
  docs/zh/docs/en/models/images/service05.png
  docs/zh/docs/en/models/service.md
Labels: size/S, models
